<%= form_for @task, :html => { :class => 'form-horizontal' } do |f| %>
 <div id="categories">
    	    <%= f.label :CategoryName, :class => 'control-label' %>
<%= f.select(:category_id, Category.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true }) %>
</div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
   <div id="tasks_datepicker">
    <%= f.label :StartDate, :class => 'control-label' %>
    <%= f.text_field :datepicker, :data_behaviour => 'datepicker' %>
    </div>
    <div id="tasks_date">
    <%= f.label :EndDate, :class => 'control-label' %>
    <%= f.text_field :endDate %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn' %>
  </div>
<% end %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            categories_new_path,
            :class => 'btn btn-primary' %>


        